.dropdown {
    position: relative;
    min-width: 170px;
    margin-right: 5%;

    .dropdown-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid gray;
        height: 30px;
    }
    
    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
        cursor: pointer;

        .item {
            margin: 4% 10px;
        }
    }
}