.button-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-right: 5%;
    min-width: 50px;
    margin-bottom: 5%;
    height: 30px;
    border: 1px solid darkcyan;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 4px;

    &:hover {
        background-color: lightgray;
    }
}

.button:last-of-type {
    margin-right: 0;
}