body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    margin-left: 10%;
    margin-right: 10%;

    @media screen and (min-width: 768px) {
        margin-left: 25%;
        margin-right: 25%;
    }

}
.progress-bar-options {
    display: flex;
    justify-content: space-between;
}